/* corres */
$color-1:#011c1f;
$color-2:#0B434A;
$color-3:#00F0FF;

$color-4: white;
$color-5: rgb(0, 160, 160);

$font-1:"Montserrat";

.margin0 {
    box-sizing: border-box;
}

* {
    margin:0;
    padding: 0;
}

body {
    background: $color-1 !important;
    font-family: $font-1 !important;
    color: white!important;
}

.navbar-brand {
        img {
            width: 45px;border-radius: 5px 20px 5px 20px;
            transition: 500ms;
            &:hover {
                transform: scale(1.05);
            }
        }
    }

#navbar {
    background-color: $color-2 !important;
    box-shadow: 0 0 10px $color-3;
    top: 0;
    z-index: 99999;
    padding: 0 20px;
        & .navbar-toggler {
        background-color: #009bb6!important;         
        border: 2px solid white; 
        }

    & .nav-link {
        color: $color-4!important;
        font-weight: 400;
        border-radius: 20px;
        margin-right: 20px;
        transition: 500ms;
            
            &:hover {
                transform: scale(1.08);
                background-color: #006154;
                border-radius: 20px;
                color: rgb(255, 251, 0)!important;
        }
    }
}

.dropdown-menu {
    background-color:$color-2!important;
    & .dropdown-item {
        color: $color-4 !important;
        font-weight: bold;
        transition: 500ms;
            &:hover {
                background-color: #007566;
                border-radius: 20px;
                color: rgb(255, 255, 255)!important;
            }
        }
    }

main {
    width:100%;
    margin: 80px auto;
}


.footer {
    background-color: $color-2;
    padding: 6px;
    .text-footer {
        text-align: center;
        font-size: 1.3rem;
        padding-bottom: 5px;
    color: rgb(224, 209, 0);
    }
    .links {
        display: flex;
        justify-content: center;
        gap: 0 30px;
            a{
            font-size: 20px;
            color: $color-4;
        }
    }
}

// home home home

.text-center {
    text-align: center;
    color: $color-3;
    margin: 80px 0;
}

.cart-center {
    text-align: start !important;
    color: $color-4 !important;
    font-size: 1rem;
    padding:15px 10px;
    span {
        color: #4cf000;
    }
}


.cart {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
        .descricao {
            display: flex;
            justify-content: space-between;
        }
    .cart-block {
        width: 95%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 40px;

        background-color: #0B434A;
        border-radius: 20px;

        transition: 500ms !important;

        &:hover{
            transform: scale(1.02) !important;
            box-shadow:0 0 10px #00F0FF;    
        }

        img {
            width: 100%;
            margin: auto;
            border-radius:20px;
        }
        .jogue {
            width: 130px;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            color: black;
            margin: 20px auto;
            background-color: yellow;
            padding: 5px;
            border-radius: 15px;
            transition: 500ms;
                &:hover {
                transform: scale(1.07);
            }
        }
      
    }
}

.login {
   
}


@media (min-width:430px) and (max-width:700px){
    main {
       padding: 0 20px;
    }
    
}

@media (min-width:700px) and (max-width:990px){

    //navbar
    #navbar {
    
        & .nav-link {
            color: $color-4!important;
            font-weight: bold;  
                &:hover{
                    transform:scale(1.5);
                }
        }
    }
    .cart-center{
        font-size: 0.8rem;
    }
    main {
        width: 60%;
    }
     .cart {
        margin-bottom: 80px;

        .cart-block {
            width: 40%;
             margin: 8px;
        }
    }
}

@media (min-width:990px) and (max-width:4000px){


    .cart-center {
        font-size: 0.95rem;
    }
    main {
        width:70%;
    }
    .cart {
        

        .cart-block {
            width: 30%;
             margin: 10px;
        }
    }
}

